@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,
#root,
.App {
  /* text-align: center; */
  font-family: 'Ubuntu';
  min-width: 100%;
  max-width: 100%;
  background: #070d2d;
  /* padding-bottom: 15px; */
  box-sizing: border-box;
  color: #ffffff;
}
